
manuscript/

vignette/fig/

vignette/pavo-concordance.tex

vignette/pavo.log

vignette/pavo.pdf

vignette/pavo.tex

vignette/pavo.toc

vignette/pavo.out

vignette/pavo.aux

vignette/pavo.synctex.gz

vignette/pavo.synctex.gz

.Rhistory
.Rhistory?
.DS_Store
.DS_Store?
.DS_Store
R/.DS_Store
R_temp/.DS_Store
data/.DS_Store
examplespec/.DS_Store
examplespec/.Rapp.history
man/.DS_Store
vignette/.DS_Store
vignette/.Rhistory
vignette_data/.DS_Store


vignette/pavo-010.pdf

vignette/pavo-explorespecfig.pdf

vignette/pavo-exploresppmeans.pdf

vignette/pavo-fig1.pdf

vignette/pavo-fixneg.pdf

vignette/pavo-fwhm.pdf

vignette/pavo-fwhm2.pdf

vignette/pavo-heatmap.pdf

vignette/pavo-overlay.pdf

vignette/pavo-pcaplot.pdf

vignette/pavo-segplot.pdf

vignette/pavo-segplot2.pdf

vignette/pavo-specnorm.pdf

vignette/pavo-specsmooth.pdf

vignette/pavo-stack.pdf

vignette/Rplots.pdf

vignette/Rplots1.pdf
