export(aggspec)
export(bgandilum)
export(getspec)
export(summary.rspec)
export(summary.vismodel)
export(tcs)
export(ttdist)
export(ttplot)
export(ttpoints)
export(ttvertex)
export(ttvol)
export(vismodel)
export(vissyst)
