S3method(merge,rspec)
S3method(plot,rspec)
S3method(subset,rspec)
S3method(subset,tcs)
S3method(subset,vismodel)
S3method(summary,rspec)
S3method(summary,tcs)
S3method(summary,vismodel)
export(aggplot)
export(aggspec)
export(as.rspec)
export(bgandilum)
export(coldist)
export(explorespec)
export(flux2irrad)
export(getspec)
export(irrad2flux)
export(is.rspec)
export(peakshape)
export(plotsmooth)
export(procspec)
export(projplot)
export(segclass)
export(sensmodel)
export(spec2rgb)
export(summary.tcs)
export(tcs)
export(tcsplot)
export(tcspoints)
export(tcsvol)
export(ttvertex)
export(vismodel)
export(vissyst)
export(voloverlap)
import(geometry)
import(mapproj)
